.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav{
  background-color: black;
  padding-left: 100%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

.experience{
  border: solid 1px;
  height: 30%;
  width: 100%;
  background-color: black;
}
.about{
  border: solid 1px;
  height: 30%;
  width: 100%;
 background-color: black;
 padding: 10%;
 
}
.contact{
  border: solid 1px;
  height: 30%;
  width: 100%;
  background-color: black;
  padding: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .role {
    animation: App-logo-spin infinite 5s linear;
    margin-top: 20%;
    
  }

  
  .role2{
    animation: App-logo-spin infinite 5s linear;
    margin-top: 20%;
    
  }
  
}

.name{
  margin-top: 15%;
  text-overflow: ellipsis;
  text-rendering: geometricPrecision;
  text-size-adjust: 100px;
}

.hero{
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  height: 10%;
  width: 100%;

}

ul{
  padding-top: 10%;
}

li{
  text-align: left;
}

.footer{

  padding-top: 10%;
  background-color: black;
}